@import '../../styles/colorpackage.scss';
@import '../../styles/minxin.scss';

@mixin Web(){
	@media screen and (min-width:1201px){
		@content;
	}

}


@mixin iphone(){
	@media screen and (max-width:767px){
		@content;
	}

}

@mixin ipad(){
	@media screen and (min-width:768px) and (max-width:1200px){
		@content;
	}

}

.Particular {
	.particularContent {
		width: 100%;
		@include bg_color();
		.top {
			margin-bottom: 20px;
		}

		.main {
			display: flex;
			justify-content: center;

			.left {
				@include ipad(){
					display: none;
				}
				@include iphone(){
					display: none;
				}
				width: 80px;
				height: 450px;
				margin-right: 20px;
				margin-top: 60px;
				display: flex;
				flex-direction: column;
				align-items: center;

				// 设置图标大小颜色
				div {
					font-size: 20px;
					color: lighten($font-color-home-tag, 10%);
					transition: color 0.5s;

					:hover {
						color: $font-color-home-tag;
					}
				}

				.top {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					margin-bottom: 8px;

					div {
						@include bg-tag();
						margin-bottom: 20px;
						width: 48px;
						height: 48px;
						border-radius: 50%;
						box-shadow: 0 2px 4px 0 rgb(0 0 0 / 4%);
						cursor: pointer;
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}

				.line {
					width: 35px;
					@include border-bottom-light();
				}

				.bottom {
					margin-top: 24px;

					div {
						@include bg-tag();
						margin-bottom: 20px;
						width: 48px;
						height: 48px;
						border-radius: 50%;
						box-shadow: 0 2px 4px 0 rgb(0 0 0 / 4%);
						cursor: pointer;
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}
			}

			.middle {
				width: 100%;
				@include Web(){
					width: 780px;
					min-height: 1200px;
					margin-right: 20px;
				}
				@include bg-tag();
				
			}

			.right {
				@include ipad(){
					display: none;
				}
				@include iphone(){
					display: none;
				}
				.right1 {
					width: 300px;
					height: 100px;
					@include bg-tag();
					margin-bottom: 20px;
				}

				.right2 {
					width: 300px;
					@include bg-tag();
					margin-bottom: 20px;
				}

				.right3 {
					width: 300px;
					@include bg-tag();
				}
			}
		}
	}
}