//背景色
$background-color-tag: #FFFFFF; // 导航、标签管理、文章内容、右侧组件背景色
$background-color-hover: #FAFAFA; // 鼠标hover变灰
$background-color-main: #F4F5F5; // 整体背景色
$background-color-smalltag: #ee502f; // ·邀请有礼·标签背景色

// 字体色
$font-color-primary-text: #303133;
$font-color-regular-text: #606266;
$font-color-secondary-text: #909090;
$font-color-placeholder-text: #C0C4CC;
$font-color-major: #1E80FF;

// 边框色
$border-color-base: #DCDFE6;
$border-color-light: #E4E7ED;
$border-color-lighter: #EBEEF5;
$border-color-extralight: #F2F6FC;

// 基础色
$basic-color-black: #000000;
$basic-color-white: #FFFFFF;
$basic-color-transparent: Transparent;

// 按钮色
$btn-color-normal: #1E80FF;
$btn-color-hover: #1171EE;
$btn-color-click: #0060DD;
$btn-color-disable: #ABCDFF;
$btn-color-light: #EAF2FF;