@import '../../styles/colorpackage.scss';

.Recommend {
	.recommendContent {
		background-color: $background-color-main;

		.top {}

		.mainContent {
			display: flex;
			justify-content: center;
			margin-top: 16px;

			.middle {
				margin-right: 20px;
			}

			.right {
				display: flex;
				flex-direction: column;

				.right1 {
					margin-bottom: 16px;
				}

				.right2 {
					margin-bottom: 16px;
				}

				.right3 {
					margin-bottom: 16px;
				}
			}
		}

	}
}