@import '../../styles/colorpackage.scss';

.HomeNav {
	box-sizing: border-box;
	border-bottom: 0.8px solid $border-color-lighter;

	.homeNavContent {
		width: 100%;
		height: 60px;
		background-color: $background-color-tag;
		display: flex;
		justify-content: center;
		align-items: center;

		.log {
			padding-top: 3px;
			margin-right: 20px;
			float: left;
		}

		.tag {
			display: flex;
			margin-right: 200px;

			div {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 60px;
				color: $font-color-home-tag;
				font-weight: 500;
				font-size: 13.6px;
				margin: 0 15px;
				cursor: pointer;
				border-bottom: 2px solid transparent;
				user-select: none;

				&:hover {
					color: $font-color-major;
					border-bottom: 2px solid $font-color-major;
				}
			}
		}

		.search {
			border: 1px solid $border-color-light;
			border-radius: 2px;
			margin-right: 30px;

			input {
				width: 230px;
				height: 35px;
				font-size: 14px;
				padding: 0 40px 0 20px;
				border: none;
				transition: width 0.5s;
				transition-delay: 0.1s;

				&::-webkit-input-placeholder {
					/* WebKit browsers，webkit内核浏览器 */
					color: $font-color-placeholder-text;
					font-size: 13px;
				}

				&:focus {
					outline: none;
					box-shadow: none;
					transition-delay: 0;
				}


			}

			span {
				width: 45px;
				height: 30px;
				line-height: 30px;
				margin-right: 1px;
				text-align: center;
				border-radius: 5px;
				color: $font-color-regular-text;
				background: $background-color-main;
				font-size: 15px;
				cursor: pointer;
			}
		}

		.add {
			display: flex;
			margin-right: 30px;

			button {
				background-color: $btn-color-normal;
				border: none;
				border-radius: 3px 0 0 3px;
				border-right: 0.5px solid $basic-color-white;
				color: $basic-color-white;
				display: flex;
				align-items: center;
				padding: 0 15px;
				font-size: 13.6px;
			}

			.sel {
				width: 20px;
				height: 34px;
				background-color: $btn-color-normal;
				display: flex;
				justify-content: center;
				border-radius: 0 3px 3px 0;

				.tri {
					margin-top: 15px;
					border-top: 5px solid $basic-color-white;
					border-right: 5px solid transparent;
					border-bottom: 5px solid transparent;
					border-left: 5px solid transparent;
					border-radius: 2px;
				}
			}
		}

		.bell {
			margin-right: 20px;
			span {
				color: lighten($font-color-secondary-text, 10%);

				.icon {
					font-size: 20px;
				}
			}
		}

		.theme {
			span {
				color: lighten($font-color-secondary-text, 10%);

				.icon {
					font-size: 20px;
				}
			}
		}





	}
}