@import '../../../styles/colorpackage.scss';
@import '../../../styles/minxin.scss';

@mixin Web(){
	@media screen and (min-width:1201px){
		@content;
	}
}
@mixin iphone(){
	@media screen and (max-width:767px){
		@content;
	}

}

@mixin ipad(){
	@media screen and (min-width:768px) and (max-width:1200px){
		@content;
	}

}

.DetailText {
	.detailTextContent {
		padding: 32px;

		.title {
			margin-bottom: 24px;
			@include font-color-primary-text;
		}

		.user {
			display: flex;
			align-items: center;
			margin-bottom: 24px;
			.image {
				width: 55px;
				height: 60px;
				margin-right: 10px;
				display: flex;
				align-items: center;

				.radius {
					border-radius: 50%;
				}
				.detailImage{
					@include iphone(){
						width: 100px;
					}
				}
			}

			.detail {
				display: flex;
				flex-direction: column;

				.name {
					@include font-home-tag();
					font-size: 16px;
					font-weight: 500;
					line-height: 24px;

				}

				.describle {
					@include font-color-secondary-text();
					font-size: 14px;
					margin-top: 2px;
					line-height: 22px;
					display: flex;
					.time{
						margin-right: 10px;
					}
				}
			}
		}

		.cover{
			margin-bottom: 24px;
			.coverImg{
				width: 100%;
				
			}
		}
		.md{
			@include md-background();
			-ms-text-size-adjust: 100%;
  			-webkit-text-size-adjust: 100%;
  			margin: 0;
			font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
			font-size: 16px;
			line-height: 1.5;
			word-wrap: break-word;

			img{
				border-style: none;
  				max-width: 100%;
  				box-sizing: content-box;
			}
			code,tt{
				padding: .2em .4em;
				margin: 0;
				font-size: 85%;
				white-space: break-spaces;
				
				border-radius: 6px;
				display: inline;
  				max-width: auto;
  				overflow: visible;
  				line-height: inherit;
  				word-wrap: normal;
  				border: 0;
  				font-family: monospace;
			}
			pre code{
				display: inline;
  				max-width: auto;
  				padding: 0;
  				margin: 0;
  				overflow: visible;
  				line-height: inherit;
  				word-wrap: normal;
  				background-color: transparent;
  				border: 0;
			}
			p{
				margin-top: 0;
  				margin-bottom: 10px;
			}
			ul,ol{
				margin-top: 0;
				margin-bottom: 0;
				padding-left: 2em;
			}
		}

		
	}
}