@import '../../../styles/colorpackage.scss';
@import '../../../styles/minxin.scss';

.ArticleAuthor {
	.articleAuthorContent {
		width: 240px;
		height: 300px;
		@include bg-tag();
		display: flex;
		flex-direction: column;

		.title {
			@include border-bottom-light();
			@include font-color-primary-text();
			font-size: 14px;
			height: 40px;
			display: flex;
			align-items: center;
			padding-left: 14px;
		}

		.list {
			@include border-bottom-light();
			flex: auto;
			display: flex;
			flex-direction: column;
		}

		.bottom {
			color: $font-color-major;
			font-size: 14px;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 40px;
		}
	}
}