@import '../../../styles/colorpackage.scss';

.DetailRelated {
	.detailRelatedContent {
		padding: 16px;

		.head {
			color: $font-color-primary-text;
			border-bottom: 1px solid $border-color-light;
			padding-bottom: 16px;
			margin-bottom: 16px;
			font-size: 16px;
			line-height: 24px;
			font-weight: 500;
		}

		.item {
			display: flex;
			flex-direction: column;
			margin-bottom: 16px;


			.artiName {
				color: $font-color-primary-text;
				line-height: 30px;
				font-size: 16px;
				font-weight: 400;

			}

			.artistatus {
				color: $font-color-secondary-text;
				display: flex;
				font-size: 14px;
				line-height: 22px;
				font-weight: 400;

				.spot {
					margin: 0 10px;
				}
			}

			&:hover {
				cursor: pointer;
			}

			&:hover .artiName {
				color: $font-color-major;
			}
		}
	}
}